@font-face {
  font-family: 'Sauce Code Pro';
  src: url('/fonts/SauceCodeProNerdFontMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CharisSIL';
  src: url('/fonts/CharisSIL-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

