.speak-word {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-top: 1px solid #d87676;
  padding: 8px 0;
  .ctrl {
    display: flex;
    align-items: center;
  }
  .ctrl-part {
    display: flex;
    align-items: center;
  }
  .ctrl .divider {
    width: 1px;
    height: 24px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0 16px 0 6px;
  }
  .accent-label {
    margin-right: 4px;
    opacity: 0.7;
    text-transform: uppercase;
    font-size: 16px;
  }
  .word {
    font-size: 16px;
    font-weight: bold;
    color: #af4c4c;
  }
  audio {
    display: none;
  }
  .spacer {
    flex-grow: 1;
  }
  .pos {
    opacity: 0.7;
    font-size: 16px;
  }

  .play-button {
    border: none;
    border-radius: 4rem;
    padding: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    cursor: pointer;
    height: 28px;
    width: 48px;
    display: flex;
    align-items: center;
    .icon {
      cursor: pointer;
      opacity: 0.7;
      height: 14px;
      width: 14px;
    }
  }
}
.speak-word:last-child {
  border-bottom: 1px solid #d87676;
}
